#navigation-button{
  height: 70px;
  color: #fff;
  background-color: #D70F64;
  border: 1px solid;
  border-color: #ae0f57;
  text-decoration: none;
  padding-left: 23px;
  padding-right: 23px;
  padding-top: 13px;
  padding-bottom: 13px;
  border-radius: 4px;
  margin-bottom: 30px;
}

#ctrl-button{
  height: 60px;
  color: #fff;
  background-color: #D70F64;
  border: 1px solid;
  border-color: #ae0f57;
  text-decoration: none;
  padding-left: 23px;
  padding-right: 23px;
  padding-top: 13px;
  padding-bottom: 13px;
  border-radius: 4px;
  margin-bottom: 30px;
}