<div class="choice">
  <%= link_to(item_category_url(0)) do %>
    <div class="food">
      <%= image_tag("eat.png", :alt => "rss feed", class: "text-banner-1") %>
    </div>
  <% end %>
  <%= link_to(item_category_url(1)) do %>
    <div class="drink">
      <%= image_tag("drink.png", :alt => "rss feed", class: "text-banner-2") %>
    </div>
  <% end %>
</div>